@import 'compass/reset';
@import 'compass/css3';

// Basic Page Styles
body {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Bitter, Georgia, serif;
  font-size: 2.25em;
  padding: 0 1em;
  /* if you want to use the italic version */
  // font-style: italic;;
}

// Header
.header {
  padding: 10em 0 14em;

  h1 {
    font-style: italic;
  }
}

.avatar {
  @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
  @include border-radius(75px); // half the avatar size
  width: 150px;
  height: 200px;
}

.carousel {
  position: relative;
}

.shots-container {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 1em 0;
}

.shots {
  overflow: hidden;
  margin: 0;
  padding: 0 2%;
  /*
   * Shot width = 400px + 20px margin + 20px padding + 2px border
   * 442 * 10 (# of shots)
   */
  width: 4420px;
  min-height: 300px;

  @media screen and (max-width: 450px) {
    /*
     * Shot width = 300px + 20px margin + 20px padding + 2px border
     * 342 * 10 (# of shots)
     */
    width: 3420px; /* 340 * 10 */
    min-height: 250px;
  }

  li {
    float: left;
    width: 400px;
    height: 300px;
    margin: 0 10px;
    padding: 10px;
    background: #fff url(images/loading.gif) 100px 50% no-repeat;
    border: 1px solid #ddd;
    @include border-radius(3px);

    @media screen and (max-width: 450px) {
      width: 300px;
      height: 225px;
    }
  }
}

.mask {
  position: absolute;
  top:0;
  width: 4%;
  height: 100%;
}
.mask-left {
  left: 0;
  @include background( linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0)) );
}
.mask-right {
  right: 0;
  @include background( linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)) );
}

.footer {
  p {
    color: #777;
    padding: 0 1em;
  }
}

.header,
.footer {
    background: #f7f7f7;
}

.content,
.footer {
    padding: 4em 0 6em;
}

.content {

    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    h1 {
        color: #ea4c89; // dribbble brand color
    }

    > p {
        font-size: .85em;
        color: #aaa;
    }
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-u6ajjc');
  src:url('../fonts/icomoon.eot?#iefix-u6ajjc') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-u6ajjc') format('woff'),
      url('../fonts/icomoon.ttf?-u6ajjc') format('truetype'),
      url('../fonts/icomoon.svg?-u6ajjc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-instagram:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-youtube:before {
  content: "\e604";
}
.icon-dribbble:before {
  content: "\e605";
}
.icon-github:before {
  content: "\e606";
}

.social {
  margin:2em 0;
  font-family: Helvetica, Arial, sans-serif;

  li {
    position: relative;
    @include inline-block();
    margin: .5em;
    @include transition(all .15s ease);

    &:hover {
      @include scale(1.25);
      color: white;
    }

    &:before {
      position: absolute;
      width: 2em; /* center align technique, give width, negative half margin */
      margin-left: -1em;
      top: 1.5em;
      left: 50%;
    }

    a {
      display: block;
      color: inherit;
      padding: 2.5em 1em 1em;
      width: 6em;
      // allow truncation if needed
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

/* Twitter */
.icon-twitter {color: #00a0d1}
.icon-twitter:hover {background:#00a0d1}
/* Instagram */
.icon-instagram {color: #634d40}
.icon-instagram:hover {background: #634d40}
/* Facebook */
.icon-facebook {color: #3b5998}
.icon-facebook:hover {background: #3b5998}
/* GooglePlus */
.icon-googleplus {color: #db4a39}
.icon-googleplus:hover {background: #db4a39}
/* Dribble */
.icon-dribbble {color: #ea4c89}
.icon-dribbble:hover {background: #ea4c89}
/* Youtube */
.icon-youtube {color: #c4302b}
.icon-youtube:hover {background: #c4302b}
/* Github */
.icon-github {color: #333}
.icon-github:hover {background: #333}
