/* line 5, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
body {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
  color: #333;
}

/* line 11, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 15, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 20, ../sass/style.scss */
h1 {
  font-family: Bitter, Georgia, serif;
  font-size: 2.25em;
  padding: 0 1em;
  /* if you want to use the italic version */
}

/* line 29, ../sass/style.scss */
.header {
  padding: 10em 0 14em;
}
/* line 32, ../sass/style.scss */
.header h1 {
  font-style: italic;
}

/* line 37, ../sass/style.scss */
.avatar {
  -moz-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -webkit-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  width: 150px;
  height: 200px;
}

/* line 44, ../sass/style.scss */
.carousel {
  position: relative;
}

/* line 48, ../sass/style.scss */
.shots-container {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 1em 0;
}

/* line 56, ../sass/style.scss */
.shots {
  overflow: hidden;
  margin: 0;
  padding: 0 2%;
  /*
   * Shot width = 400px + 20px margin + 20px padding + 2px border
   * 442 * 10 (# of shots)
   */
  width: 4420px;
  min-height: 300px;
}
@media screen and (max-width: 450px) {
  /* line 56, ../sass/style.scss */
  .shots {
    /*
     * Shot width = 300px + 20px margin + 20px padding + 2px border
     * 342 * 10 (# of shots)
     */
    width: 3420px;
    /* 340 * 10 */
    min-height: 250px;
  }
}
/* line 76, ../sass/style.scss */
.shots li {
  float: left;
  width: 400px;
  height: 300px;
  margin: 0 10px;
  padding: 10px;
  background: #fff url(images/loading.gif) 100px 50% no-repeat;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media screen and (max-width: 450px) {
  /* line 76, ../sass/style.scss */
  .shots li {
    width: 300px;
    height: 225px;
  }
}

/* line 93, ../sass/style.scss */
.mask {
  position: absolute;
  top: 0;
  width: 4%;
  height: 100%;
}

/* line 99, ../sass/style.scss */
.mask-left {
  left: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
}

/* line 103, ../sass/style.scss */
.mask-right {
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

/* line 109, ../sass/style.scss */
.footer p {
  color: #777;
  padding: 0 1em;
}

/* line 115, ../sass/style.scss */
.header,
.footer {
  background: #f7f7f7;
}

/* line 120, ../sass/style.scss */
.content,
.footer {
  padding: 4em 0 6em;
}

/* line 125, ../sass/style.scss */
.content {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
/* line 130, ../sass/style.scss */
.content h1 {
  color: #ea4c89;
}
/* line 134, ../sass/style.scss */
.content > p {
  font-size: .85em;
  color: #aaa;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-u6ajjc");
  src: url("../fonts/icomoon.eot?#iefix-u6ajjc") format("embedded-opentype"), url("../fonts/icomoon.woff?-u6ajjc") format("woff"), url("../fonts/icomoon.ttf?-u6ajjc") format("truetype"), url("../fonts/icomoon.svg?-u6ajjc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 151, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 165, ../sass/style.scss */
.icon-googleplus:before {
  content: "\e600";
}

/* line 168, ../sass/style.scss */
.icon-facebook:before {
  content: "\e601";
}

/* line 171, ../sass/style.scss */
.icon-instagram:before {
  content: "\e602";
}

/* line 174, ../sass/style.scss */
.icon-twitter:before {
  content: "\e603";
}

/* line 177, ../sass/style.scss */
.icon-youtube:before {
  content: "\e604";
}

/* line 180, ../sass/style.scss */
.icon-dribbble:before {
  content: "\e605";
}

/* line 183, ../sass/style.scss */
.icon-github:before {
  content: "\e606";
}

/* line 187, ../sass/style.scss */
.social {
  margin: 2em 0;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 191, ../sass/style.scss */
.social li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: .5em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 197, ../sass/style.scss */
.social li:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  color: white;
}
/* line 202, ../sass/style.scss */
.social li:before {
  position: absolute;
  width: 2em;
  /* center align technique, give width, negative half margin */
  margin-left: -1em;
  top: 1.5em;
  left: 50%;
}
/* line 210, ../sass/style.scss */
.social li a {
  display: block;
  color: inherit;
  padding: 2.5em 1em 1em;
  width: 6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Twitter */
/* line 224, ../sass/style.scss */
.icon-twitter {
  color: #00a0d1;
}

/* line 225, ../sass/style.scss */
.icon-twitter:hover {
  background: #00a0d1;
}

/* Instagram */
/* line 227, ../sass/style.scss */
.icon-instagram {
  color: #634d40;
}

/* line 228, ../sass/style.scss */
.icon-instagram:hover {
  background: #634d40;
}

/* Facebook */
/* line 230, ../sass/style.scss */
.icon-facebook {
  color: #3b5998;
}

/* line 231, ../sass/style.scss */
.icon-facebook:hover {
  background: #3b5998;
}

/* GooglePlus */
/* line 233, ../sass/style.scss */
.icon-googleplus {
  color: #db4a39;
}

/* line 234, ../sass/style.scss */
.icon-googleplus:hover {
  background: #db4a39;
}

/* Dribble */
/* line 236, ../sass/style.scss */
.icon-dribbble {
  color: #ea4c89;
}

/* line 237, ../sass/style.scss */
.icon-dribbble:hover {
  background: #ea4c89;
}

/* Youtube */
/* line 239, ../sass/style.scss */
.icon-youtube {
  color: #c4302b;
}

/* line 240, ../sass/style.scss */
.icon-youtube:hover {
  background: #c4302b;
}

/* Github */
/* line 242, ../sass/style.scss */
.icon-github {
  color: #333;
}

/* line 243, ../sass/style.scss */
.icon-github:hover {
  background: #333;
}
